body {
    background-color: #e9e9e9;
}
h1, h2, h3 {
    color: #070072;
    font-style: italic;
    font-family: arial;
}
h1 {
    text-align: center;
}
#content {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 5px 20px;
    margin: auto;
    max-width: 800px;
}
#partners, #footer {
   text-align:center;
}
#footer a {
   color: black;
   text-decoration: none;
}
#footer {
   margin: 10px;
}

