<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Proaixy control pannel</title>
    </head>
    <body>
        <h1>Proaixy!</h1>
        {% for source in sources %}
        <h3>{{ source.name }}</h3>
        <p>{{ source.records.count }} records
        {% if not source.harvesting %}(<a href="/?harvest={{ source.id }}">Harvest</a>){% endif %},
        {{ source.sets.count }} sets
        {% if not source.harvesting %}(<a href="/?set={{ source.id }}">Update</a>){% endif %}.</p>
        {% if source.harvesting %}
        <p>Harvesting {% if source.harvesterState == 'PROGRESS' %}
        {{ source.status }}.
        {% else %}
        {{ source.harvesterState }}
        {% endif %} (<a href="/?revoke={{ source.harvester }}">Revoke</a>)
        {% else %}</p>
        <p>Last update: {{ source.last_update }}</p>
        {% if not source.harvesterState == 'DELETED' %}
        <p>Harvested {{ source.status }}: {{ source.harvesterState }}</p>
        {% endif %}
        {% if source.harvesterState == 'FAILURE' %}
        <pre>{{ source.harvesterTask.traceback }}</pre>
        {% endif %}
        {% endif %}
        {% empty %}
        <p>No OAI source registered.</p>
        {% endfor %}
        <h3>Add a new source</h3>
        {% if errorMsg %}<p>Adding a new source failed:<br />{{ errorMsg }}</p>{% endif %}
        <form action="/" method="post">
            {% csrf_token %}
            <table>
            {{ addSourceForm }}
            </table>
            <input type="submit" value="Add" />
        </form>
    </body>
</html>
