{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>doai.io</title>
        <link rel="stylesheet" href="{% static "doai.css" %}" />
    </head>
    <body>
        <h1>DOAI</h1>
        <div id="content">
        <p>DOAI (Digital Open Access Identifier) is an alternate DOI (Digital Object Identifier) resolver that takes you to a free version of the requested article,
        when available.</p>

        <p>To use it, replace dx.doi.org by doai.io in any DOI link.</p>

        <h2>Examples</h2>

        <ul>
            <li><a href="http://doai.io/10.1016/j.jalgebra.2015.09.023">http://<strong>doai.io</strong>/10.1016/j.jalgebra.2015.09.023</a> vs<br />
                <a href="http://dx.doi.org/10.1016/j.jalgebra.2015.09.023">http://<strong>dx.doi.org</strong>/10.1016/j.jalgebra.2015.09.023</a></li>
            <li><a href="http://doai.io/10.1139/f92-220">http://<strong>doai.io</strong>/10.1139/f92-220</a> vs<br />
                <a href="http://dx.doi.org/10.1139/f92-220">http://<strong>dx.doi.org</strong>/10.1139/f92-220</a></li>
        </ul>

        <h2>Who runs this</h2>

        <p>DOAI is run by <a href="http://association.dissem.in">CAPSH</a>, and relies on the metadata provided by our partners, most notably the <a href="http://www.base-search.net">Bielefeld Academic Search Engine (BASE)</a>.</p>
        
        <div id="partners">
            <a href="http://www.base-search.net"><img src="{% static "img/base.svg" %}" alt="Bielefeld Academic Search Engine (BASE)" width="350px"/></a>
        </div>

        </div>
        <div id="footer">
            <a href="{% url 'tos' %}">Terms of service</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="http://association.dissem.in/#donate">Donate</a>
        </div>
   </body>

</html>
