{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>doai.io</title>
        <link rel="stylesheet" href="{% static "doai.css" %}" />
    </head>
    <body>
        <h1>DOAI</h1>
        <div id="content">
            <h2>Disclaimer</h2>
            <p>DOAI is free to use and comes WITHOUT ANY WARRANTY.
            In particular, we do not guarantee that the documents DOAI redirects
            to are faithful to the documents designated by the requested DOIs.</p>

            <h2>Reporting issues</h2>
            <p>Do not hesitate to send any feedback to contact@THIS_DOMAIN</p>

            <h2>Help us!</h2>
            <p>
            <a href="http://association.dissem.in/#donate">We welcome donations</a>.
            </p>
        </div>
   </body>

</html>
